*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@font-face {
    font-family: "Source Sans PRO Semibold";
    src: url(/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: "Source Sans PRO Light";
    src: url(/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: "Source Sans PRO Bold";
    src: url(/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: "Source Sans PRO Regular";
  src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

:root{
    --background-color1:#F2E9DD;
    --h1-font:"Source Sans PRO Semibold";
    --main-textcolor:#222222;
    --light-font:"Source Sans PRO Light";
    --bold-font:"Source Sans PRO Bold";
    --regular-font:"Source Sans PRO Regular";
}

body{
    background-color:var(--background-color1);
}

.hero{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.hero h1{
    font-family: var(--h1-font);
    width:100vw;
    font-size:11em;
    color:var(--main-textcolor);
    text-align:center;
}

.marquee{
    margin:0 auto;
    position: relative;
    width: 80%;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  .marquee .scroll{
    width: 100%;
    display: flex;
  }
  .marquee .scroll div{
    color: #fff;
    font-size: 35px;
    white-space: nowrap;
    font-weight: 500;
    animation: animate-marquee 80s linear infinite;
    animation-delay: -40s;
  }
  .marquee .scroll div:nth-child(2){
    animation: animate-marquee-2 80s linear infinite;
    animation-delay: -80s;
  }
  .marquee .scroll div .category{
    padding:0 10px;
  }
  .category{
    color: var(--main-textcolor);
    font-size: 35px;
    font-weight: 600;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--light-font);
  }
  
  @media (max-width:767px){
    .category{font-size: 25px;}
    .marquee .scroll div{font-size: 25px;}
  }
  
  @keyframes animate-marquee{
      0%{
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
      }
      100%{
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
      }
  }
  
  @keyframes animate-marquee-2{
      0%{
          -moz-transform: translateX(0%);
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
      }
      100%{
          -moz-transform: translateX(-200%);
          -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
      }
  }

  .hero img{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width:400px;
    height:400px;
    margin-top:40px;
  }

  .hero-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
  }

  .hero-grid div{
    font-family:var(--light-font);
    font-size:2em;
    gap:100px;
  }

  .hero-grid div:first-of-type{
    display:flex;
    flex-direction: column-reverse;
    padding-right:5vw;
    justify-content: center;
    text-align:right;
  }

  .hero-grid div:last-of-type{
    display:flex;
    align-items: center;
    padding-left: 5vw;
  }

  .hero-grid a{
    text-decoration: none;
    color:black;
  }

  .heroimage_responsive{
    display:none;
  }

.grow { 
  transition: all .1s ease-in-out;
  }
  
  .grow:hover { 
    transform: scale(1.2);
    color:red;
  }

/* A partir de ahora, este es el código de estilos de la pagina "About Me" */

.pages_navbar{
  padding:0 10px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  height:6vh;
  border-bottom:1px solid var(--main-textcolor);
  font-size: 1.4em;
  font-family:var(--regular-font);
  z-index:998;
}

.pages_navbar a{
  color:var(--main-textcolor);
  z-index:999;
  text-decoration: none;
}

.pages_navbar a:hover{
  font-family: var(--h1-font);
}

.aboutme_photo img{
  width:30vw;
  min-width: 300px;
  max-width:500px;
  clip-path: circle(40% at 50% 40%);
  margin-top:10vh;
  margin-right:10vw;
  z-index:-1;
}

.aboutme_image{
  display:flex;
  align-items: center;
}

.aboutme_container{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.aboutme_text h1{
  font-family: var(--h1-font);
  font-size:3em;
  padding-bottom:20px;
  padding-top:20px;
}

.aboutme_text{
  font-family: var(--regular-font);
  width:40vw;
  margin-left:10vw;
  color:var(--main-textcolor);
}

.aboutme_text a{
  text-decoration:underline;
  color:inherit;
}

.aboutme_text p{
  padding-bottom:10px;
  font-size:1.2em;
}

.stacklogos{
  text-align: center;
  font-size:3em;
  color:var(--main-textcolor)
}

.stacklogos i{
  padding:0 10px;
}

/* A partir de acá estan las configuraciones de la pagina de proyectos */

.cards{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.card{
  width:18rem;
  height:400px;
  border:1px solid var(--main-textcolor);
  margin:20px;
  display: flex;
}


.card_container img{
  width: 17.9rem;
  border-bottom:1px solid black;
}

.card_title{
  font-family: var(--h1-font);
  font-size:1.5em;
  padding: 8px 5px 5px 5px;
}

.card_description{
  font-family: var(--light-font);
  font-size:1.1em;
  padding: 2px 0 5px 5px;
}

.card_container i{
  padding-top:20px;
  padding-left:5px;
  margin-right:5px;
  color:var(--main-textcolor);
}

@media screen and (max-width: 800px) {

  .aboutme_container{
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutme_text{
    padding:0 50px;
    margin:0;
    width:100%;
  }

  .aboutme_photo img{
    margin:0;
    padding:0;
  }

  .stacklogos{
    margin-top:20px;
  }
}

@media screen and (max-width:1200px) {
  .hero h1{
    font-size: 8em;
  }
}

@media screen and (max-width:900px) {
  .hero h1{
    font-size: 6em;
  }
}

@media screen and (max-width:900px) {
  .hero-grid{
    display:flex;
    flex-direction:column;
  }

  .hero-grid div{
    display:flex;
    margin:0;
    padding:0;
    gap:10px;
    align-items: center;
  }

  .hero-grid div:last-of-type{
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .hero-grid div:first-of-type{
    padding:0;
  }

  .heroimage_responsive{
    display:block;
    margin-bottom: 5vh;
  }

  .heroimage_desktop{
    display:none;
  }
}

@media screen and (max-width:650px) {
  .hero h1{
    font-size: 4em;
  }

}